<a href="https://colab.research.google.com/github/rsyed840/work/blob/main/ANN_for_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import numpy as np
import pandas as pd
import tensorflow as tf
import keras

In [5]:
df=pd.read_csv("/content/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [10]:
df.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [11]:
x=pd.get_dummies(df.drop('Exited',axis=1),drop_first=True)
y=df['Exited']

In [12]:
x.shape

(10000, 11)

In [13]:
### splitting the dataset into training and testing set 

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
#scalling
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

**MODELLING**

In [15]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
ann=Sequential()

**adding the first input layer and hidden layer**

In [17]:
ann.add(Dense(input_dim=11,units=6,activation='relu',kernel_initializer='uniform'))

**Adding second hidden layer**

In [18]:
ann.add(Dense(units=6,activation='relu',kernel_initializer="uniform"))

**Adding output layer**

In [19]:
ann.add(Dense(units=1,activation='sigmoid',kernel_initializer='uniform'))

**compiling the ANN**

In [20]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

**TRAINING THE ANN ON TRAINING SET**

In [21]:
ann.fit(x_train,y_train, batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.5895 - accuracy: 0.7956
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.7989
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4135 - accuracy: 0.8221
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8251
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3963 - accuracy: 0.8269
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3909 - accuracy: 0.8285
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8290
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3829 - accuracy: 0.8330
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3800 - accuracy: 0.8296
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3776 - accuracy: 0.8320
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3755 - accuracy: 0.8306
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3735 - accuracy: 0.8347
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3713 - accuracy: 0.8414
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3694 - accuracy: 0.8481
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3684 - accuracy: 0.8466
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3667 - accuracy: 0.8493
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3647 - accuracy: 0.8501
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8528
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3622 - accuracy: 0.8535
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8534
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8536
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8536
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8545
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8535
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8529
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3549 - accuracy: 0.8546
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3543 - accuracy: 0.8531
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8553
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8555
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8560
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8549
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8556
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8574
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8566
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8572
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8572
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8565
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8572
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3489 - accuracy: 0.8566
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3487 - accuracy: 0.8589
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3483 - accuracy: 0.8583
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8589
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3480 - accuracy: 0.8589
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8587
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8596
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8600
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8597
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8599
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8616
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8594
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8609
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8604
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8595
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8594
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8621
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8583
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8608
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8584
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8609
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8590
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8600
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8612
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8594
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8624
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8626
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3420 - accuracy: 0.8591
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8608
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8615
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3415 - accuracy: 0.8618
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8590
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8612
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8611
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8624
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8610
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8590
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8609
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8591
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8601
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8612
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8612
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8591
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8591
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8600
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8610
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8615
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8599
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8615
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8625
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8629
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8614
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8605
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8599
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8606
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8629
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8614
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3398 - accuracy: 0.8616
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8615
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8600
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8614
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8595

## **PREDICTION AND EVALUATION OF MODEL**

**predictions**

In [22]:

ypred_train=ann.predict(x_train)
ypred_train=ypred_train>=0.5

ypred_test=ann.predict(x_test)
ypred_test=ypred_test>=0.5

250/250 [==============================] - 0s 1ms/step
63/63 [==============================] - 0s 1ms/step

**evaluations**

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score
print("test accuracy:",accuracy_score(y_test,ypred_test))
print("train accuracy:",accuracy_score(y_train,ypred_train))

test accuracy: 0.8605
train accuracy: 0.862625

In [24]:
confusion_matrix(y_test,ypred_test)

array([[1531,   64],
       [ 215,  190]])

**CROSS VALIDATE THE MODEL**

In [25]:
def build_cross_classifier():
  classifier=sequential
  classifier.add(Dense(input_dim=11,units=6,activation='relu',kernel_initializer='uniform'))  
  classifier.add(Dense(units=6,activation='relu',kernel_initializer="uniform"))
  classifier.add(Dense(units=1,activation='sigmoid',kernel_initializer='uniform'))
  classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
  return classifier

In [47]:

from scikeras.wrappers import KerasClassifier
classifier=kerasClassifier( build_cross_classifier,batch_size=32,epochs=100)

NameError: ignored

In [46]:
from sklearn.model_selection import cross_val_score
accuracies=cross_val_score(classifier,x,y,cv=5)

NameError: ignored

In [ ]:
print(accuracies)
accuracies.mean()

**apply hpt**

In [1]:
estimator=kerasClassifier(build_cross_classifier())
param_grid={'batch_size':[10,32],'epochs':[50,100]}

NameError: ignored

In [ ]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(estimator, param_grid,scoring='accuracy',cv=5)
grid_result=grid.fit(x_train,y_train)

In [ ]:
#best parameters
grid_result.best_params_

In [ ]:
#best accuracy
grid_result.best_score_